{% extends 'homepage/base.html' %}

{% block content %}

{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/top_page.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'homepage/top_page.js' %}"></script>
</head>
<div class="top-image">
    <h1>K-Tube</h1>
</div>
<div class="intro">
    <h1>intro</h1>
</div>
<div class="mission-wrapper wrapper">
    <div class="cover mission-cover">
        <h1>mission</h1>
        <i class="fas fa-angle-double-up" id="mission-angle-up"></i>
    </div>
    <div class="contents mission-contents">
         <i class="fas fa-angle-double-down" id="mission-angle-down"></i>
         <h2>mission under cover.</h2>
    </div>
</div>
<div class="span">

</div>
<div class="vision-wrapper wrapper">
    <div class="cover vision-cover">
        <h1>vision</h1>
        <i class="fas fa-angle-double-up" id="vision-angle-up"></i>
    </div>
    <div class="contents vision-contents">
         <i class="fas fa-angle-double-down" id="vision-angle-down"></i>
         <h2>vision under cover.</h2>
    </div>
</div>
<div class="span">

</div>
<div class="value-wrapper wrapper">
    <div class="cover value-cover">
        <h1>value</h1>
        <i class="fas fa-angle-double-up" id="value-angle-up"></i>
    </div>
    <div class="contents value-contents ">
         <i class="fas fa-angle-double-down" id="value-angle-down"></i>
         <h2>value under cover.</h2>
    </div>
</div>
<div class="span">

</div>
{% endblock %}