{% extends 'homepage/base.html' %}

{% block content %}

{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/top_page.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'homepage/top_page.js' %}"></script>
</head>
<div class="top-image">

</div>
<div class="intro">
    <span class="top-sentence">K-tubeとは・・・</span><br>
    <span class="middle-sentence">慶應生が発信する”オールジャンルYouTubeチャンネル”</span><br>
    <span class="last-sentence">⇒慶應の関連情報の配信を中心としながら、サークル員それぞれが自分の個性を生かしてグルメやメイク、料理や歌など様々なテーマの動画を配信することで付加価値を生む、オールジャンルYouTuberチャンネル、それが、K-tube。</span>
</div>
<div class="mission-wrapper wrapper">
    <div class="cover mission-cover">
        <h1>Mission</h1>
        <i class="fas fa-angle-double-up" id="mission-angle-up"></i>
    </div>
    <div class="contents mission-contents">
         <i class="fas fa-angle-double-down" id="mission-angle-down"></i>
         <h2>mission under cover.</h2>
    </div>
</div>
<div class="span">

</div>
<div class="vision-wrapper wrapper">
    <div class="cover vision-cover">
        <h1>Vision</h1>
        <i class="fas fa-angle-double-up" id="vision-angle-up"></i>
    </div>
    <div class="contents vision-contents">
         <i class="fas fa-angle-double-down" id="vision-angle-down"></i>
         <h2>vision under cover.</h2>
    </div>
</div>
<div class="span">

</div>
<div class="value-wrapper wrapper">
    <div class="cover value-cover">
        <h1>Value</h1>
        <i class="fas fa-angle-double-up" id="value-angle-up"></i>
    </div>
    <div class="contents value-contents ">
         <i class="fas fa-angle-double-down" id="value-angle-down"></i>
         <h2>value under cover.</h2>
    </div>
</div>
<div class="span">

</div>
{% endblock %}