.fas{
    font-size: 60px;
    cursor: pointer;
}

.top-image {
    height: 650px;
    background-image: url("images/top-image-neon .jpg");
    background-size: cover;
    font-family: 'Muli', sans-serif;
    text-align: center;
}

.top-image h1{
    font-size: 150px;
    line-height: 600px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: normal;
    color: black;
}

.intro{
    font-family: "Sawarabi Gothic";
    margin: 20px auto;
    color: white;
    height: 500px;
    width: 40%;
    font-size: 25px;
    font-weight: normal;
}

.top-sentence{
    display: inline-block;
    margin: 40px 0;
}

.wrapper{
    height: 600px;
    position: relative;
    text-align: center;
    color: white;
}

.cover{
    width: 100%;
    height: 600px;
    text-align: center;
    z-index: 10;
    background-color: #003366;
    position: absolute;
    top: 0;
    left: 0;
}

.cover h1{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-top: 200px;
    font-size: 100px;
}

.mission-cover{
    background-image: url("images/mission-steps.jpg");
    background-size: cover;
}

.vision-cover{
    background-image: url("images/vision3.jpg");
    background-size: cover;
}

.value-cover{
    background-image: url("images/value.jpg");
    background-size: cover;
}

.contents{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: 5;
    background-color: #79aec8;
}

.contents h2{
    text-align: center;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-top: 200px;
    font-size: 50px;
}

.fa-angle-double-down{
    margin-top: 30px;
    font-size: 90px;
}

.fa-angle-double-up{
    margin-top: 160px;
    font-size: 90px;
}

.span{
    height: 200px;
}

